html,body{
  margin: 0 auto;
  width:auto;
  height: auto;
  min-width: 734px;
  font-family: comic!important;
}

main{
  display: inline;
  overflow-y: scroll;

}

.readmore{
cursor: pointer;
text-transform: capitalize;
float: right;
text-decoration: none;
font-size: 1.2rem !important;

}
  /* --------footer ------ */
footer{
 border-start-end-radius: 120px;
 color:#898989;
 background-color:#e0d9d9;

 width: 100%;
 margin-top: 10%;

}
footer div a {
  color:#222223f7;
  margin: 21px;
}

.social_footer{
  float:none;
  margin:1% 0 2% 0;
  text-align:center;
  }

.footer_list {
  color:#222223f7;
  text-transform: uppercase;
}
.footer_list a{
    text-decoration:none;
    color:#222223f7;
}



/* ---------- @news page latest news*/


ul.top li{
  margin: 6% 0 8% 0%;
  list-style: none;
  max-width: 982px;


}
.article-item{
  margin: 0 auto;
width: 88% !important;
padding: 12px;
box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
rgb(0 0 0 / 4%) 0px 10px 10px -5px;
border-radius: 2%;
max-width: 980px;
word-break: normal;
z-index: 12;


}
.article-item_a{
  color: #0d6efd;
text-decoration: none;
padding: 2% 5% 1% 4%;
display: grid;
margin: 1em;
font-size: 2.3em;
font-weight: bold;
}

.img_top_news{
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin: 0 auto;


}

.news-img {
  width: 90%;
  height: 212px;
  align-items: center;
  margin-left: 12%;
  background-repeat: no-repeat;
  align-items: center;
}


.index-news p{
  border-radius: 12px;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8em;
  word-spacing: 2px;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 13px;
  margin-top: 12px;

}

table
{
  background-color: white;
  border-style: none;
}
tbody{
  width: 50%;
}

section{
  overflow: hidden;
  position: relative;
  top: 63px;

}
section h1{
  text-align: center;
  margin-bottom: 23px;
  text-transform: capitalize;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: red;
  position: relative;
  font-size: 3em;
}

#section-title1{
  top: -40px;
}
#section-title2{
      top: 87px;
}


section.wrapper-front_articles{
    background-color: white;
    margin:0 auto;
    background-color: white;
    text-align: center;
    align-items: center;
    display: inline-flex;
}

i.fa.fa-clock-o.fa-lg{
  font-size: 18px;
  margin: -1%;
  padding: 2%;
  color:#686060;
}
/* ------top pictures-------
 */
.first_img{
  max-width: 100%;
    width: 100vw;
    height: auto;
}

#div_wrap1{
      display: inline-flex;
      width: 81%;
      align-items:center;
      display: inline-flex;
      margin: 5%;
      border-radius: 12px;
}
figure{
    object-fit :cover;
    font-size: 32px;
}

img.todaysTitle2_pic,
img.todaysTitle1_pic ,
  figure img,
  img{
    max-width: 100%;
    height: auto;
    border-radius: 2%;
    margin: 0 auto;

  }

figcaption{
  margin: 1% 2%;
      white-space: normal;
      font-size: 1.8rem;
      word-break:break-word;

}
figcaption a{

  font-size: 20px;
    float: right;
    margin: 16px;
}

.listed_articles {
    margin-bottom: 20px;
}

.img_listed_articles{
  margin: 0 5%;
}
.listed_articles span p{
margin-right: 855px !important;
white-space: break-spaces;

}
p.description,
.first_p{
  border-radius: 12px;
  text-align: center;
  font-size: 2.0rem;
  padding: 0.8em;
  word-spacing: 2px;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 13px;
  margin-top: 12px;
  width: 84%;
  margin: 0 auto;
}
h2.todaysTitle{
  font-weight: 700;
  font-family: comic;
  font-size: 2.4em;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #000;
  margin: 2%;
  background-color: white;

}




span.time_andicon{
  position: relative;
  left: -15px;
  width: 53px;
  top: -4px;
}

/* *********************** BUISNESS_page css */


/* -----exchange_table---- */
div.exchange_table {
  position: relative;
  border-radius: 12px;
  grid-area: 1/2/3/4;
  right: 47px;

}
div.exchange_table div div div {
  margin-top: 8px;
margin-bottom: 3px;
padding-top: 7px;
padding-bottom: 1px;
}
/* -----exchange_table  end---- */

div.news_economics_top{
  align-items: center;
box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1vw;
  margin: 0px 2% 12% 6%;
  max-width: 1200px;
  border-radius: 12px;
  position: relative;
  top: 47px;
}
main.economics_main {
  display: grid;

}

main.economics_main section{
    width: 96%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill,minmax(30vw,3fr));
    grid-area: 3;
    align-items: center;
    margin-left: 70px;
}
div.div2_econm,
div.div2_econm div {
      white-space: break-spaces;
        display: flow-root;
      width: 100%;
      margin: 1%;


    }

div.div2_economics_main section div.div2_econm div img{

  margin: 3px 3px;
    border-radius: 2px;
    border-radius: 12px;

}
div.div2_economics_main section div.div2_econm div p{
  min-width: 160px;

}
.economics_bandBotm{
  display: inline-flex;
  border-radius: 12px;
  width: 100%;
  margin: 1% 1% 1% 1%;
}

div.div1_econm {
  width: 88%;
  padding: 12px;
  margin-bottom: 2%;
  margin: 3% 7% 2% 7%;
}
div.div1_econm div,
div.div2_econm div{
  width: 88%;
  padding: 12px;
  margin: 8% 2%;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  border-radius: 8%;
}
div.div1_econm div img,
div.div2_econm div img{
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 2%;
      width: 100%;
  }
div.div1_econm div p{
  padding:2%;
  word-spacing: 2px;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 13px;
  margin-top: 12px;
  background-color: white;
  border-radius: 12px;
  font-size: 1.3em;
}
.artcl_title
 {
   color: #0d6efd;
   text-decoration: none;
   padding: 2% 5% 1% 4%;
   display: grid;
   margin: 1em;
   font-size: 2em;
  line-height: 1.5;

}

/*=====health  AND science  page=====*/
.title{
  font-size: 3.4rem;
  margin: 5% 1%;
}


article{
  margin: 1%;
      text-align: center;
      margin-top: 4%;
      display: flow-root;
      word-break: break-all;
}

div.main_div{
  text-align: center;
  min-width: 63vh;
}
.main_title{
  display: flex;
  text-align: center;
  align-items: center;
  width: 75%;
  align-content: space-around;
  margin: 0 auto;
}

span{
  font-size: 14px;
  margin: 1%;
}
span p{
  color:#686060;

}
.title_date{
  margin:0;
  font-size:18px;
  font-weight: 300;
  display: inline-flex;
}

  /*  ======== Health page CSS=====*/

.news_health_top{
  width: 70%;
  margin: 0 auto;

}
.news_health_top figure{
  object-fit: cover;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  text-align: center;
  margin: 19% 3%;
  }
.news_health_top img{
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin: 0 auto;
  }
.news_health_top figcaption{
  margin: 6% 2%;
 word-spacing: 2px;
 line-height: 2;
 word-break: break-word;
border-radius: 12px;
}
/* ====== science_page css ===== */
.news_science_top{
  width: 70%;
  margin: 0 auto;

}
.news_science_top figure{
  object-fit: cover;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  text-align: center;
  margin: 19% 3%;
  }
.news_science_top img{
    width: 100%;
    height: auto;
    border-radius: 2%;
  }
.news_science_top figcaption{
  margin: 6% 2%;
 word-spacing: 2px;
 line-height: 1.4;
 word-break: break-word;
border-radius: 12px;
}
/* =======================  SPORTS PAGE ========================= */
p.head_title{
    position: relative;
    top: 2em;
    font-size: 36px;
    background: red;
}

.news_sports_top{
width: 70%;
margin: 0 auto;

}
.news_sports_top figure{
object-fit: cover;
font-size: 25px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
text-align: center;
margin: 19% 3%;
}
.news_sports_top img{
  width: 100%;
  height: auto;
  border-radius: 2%;
  margin: 0 auto;
}
.news_sports_top figcaption{
margin: 6% 2%;
word-spacing: 2px;
line-height: 2;
word-break: break-word;
border-radius: 12px;
}


                /* ---------------------------- RESPONSIVE ------------------------------- */
@media only screen and (max-width: 1500px){
  .title{
    font-size: 2.4rem;
  }
  figcaption{
    line-height: 1.8;
  }
  table.atcl_1 tbody tr td{
    display: block;
  }

/* =================================== business RESPONSIVE*/
div.news_economics_top{

  display:inline;
}

.exchange_table{
  display:none;
}
span{
  font-size: 16px;
    position: relative;
    bottom: 0;
    align-items: center;
}
main.economics_main section{
  display:block;
}
div.div1_econm div img, div.div2_econm div img {
    min-width: 100%;
}
